.universityHeader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.universityImage {
  height: 100px !important;
  width: 100px !important;
  margin: auto;
}

.universityHeader h2 {
  font-weight: 600;
}

.universityName {
  margin: 4px auto;
}
@media (min-width: 768px) {
  .universityHeader {
    flex-direction: row;
  }
  .image{
    flex:1;
  }
  .details{
    flex:3;
    text-align: left;
  }
}