.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}

.professorImage,
.professorDetails {
  padding: 8px 0;
}

.professorImage {
  flex: 1;
  justify-content: center;
  display: flex;
}

.professorDetails {
  flex: 1;
  text-align: -webkit-center;
}

.professorDetails h2 {
  margin-top: 0;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .professorImage,
  .professorDetails {
    padding: 8px;
  }
  .professorImage {
    flex: 1;
  }
  .professorDetails {
    flex: 3;
    text-align: left;
  }
}
